project/project
project/target
target
tmp
.history
.cache*
dist
/.idea
/*.iml
/out
/bin
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/log
logs
*.DS_Store
/results
.vagrant
/native
fakes3
*.sc
/.worksheet